.row.justify-content-center.mb-2
    .col-md-8.col-sm-12.link-banner
        a.d-flex.w-100.h-100.justify-content-center.align-items-center(href=`${link}`)
            span.align-bottom= linkName
                i.fas.fa-sign-in-alt